@import "normalise";
@import "colors";
@import "typography";
@import "buttons";
@import "utilities";

body {background: $background}

section {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 20px
}

footer {text-align: center}

@import "media-queries";